body{
    border: 5px solid blue;
}

div{
    border: 7px solid rgb(240, 4, 4);
    color: blue;
    /* 30px is y-axis and 40px is mean x-axis */
    margin:  30px 40px;
    /* 50px is y-axis and 40px is x-axis*/
    padding: 50px 40px;
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 200px;
    background-color: rgb(248, 174, 15);
}
.div para{
    text-align: left;
    
}