.para{
    width: 400px;
    border-radius: 20px;
    height: 400px;
    border: 2px solid black;
    padding: 20px ;
    margin
}


h1{
    font-size: 40px;
}
b{
    font-size: 30px;
}
p{
    font-size: 20px;
}
a :hover{
    background-color: brown;
}