*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    border: 1px solid  black;
    width: 100vw;
    height: 100vh;
    background-image: url(golden-sunset-hd-backgrounds-captivatings-for-serene-scenes-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}