h1{
    color:blue;
    font-size:50px;
    text-align: center;
}
p{
    /* propritise of css to design WEB */
    color: red ;   
    background-color:aquamarine;
    font-size: x-large;
}
div{
    color: brown;
    font-size: 30px;
    text-align: center;
    background-color: aqua;
}
p{
    
}