*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 90px;
    margin: auto;
    
    padding: 0px 300px;
}
.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-right:100px; 
    float: left;
    padding: 30px;
    font-weight: bold;
    display: inline-block;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 70px;
    margin-bottom:0px;
    padding-top: 40px;
    font-size: 15px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family:Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding-top: 50px;
}
ul li a:hover{
    color: orangered;
}
 body{
    background:url('golden-sunset-hd-backgrounds-captivatings-for-serene-scenes-photo.jpg')no-repeat center center/cover;
    height: 100vh;
    
 }   
 .Dropdown-content{
    display: none;
    position: absolute;
    
 }
